@import "tailwindcss";
@layer base, utils, components;
@import "@webtui/css/base.css";
@import "@webtui/css/utils/box.css";
@import "@webtui/css/components/typography.css";
@import "@webtui/css/components/input.css";
@import "@webtui/css/components/spinner.css";
@import "@webtui/theme-gruvbox";

@layer base {
  /* overrides of webtui base css  */
  :root {
    --font-size: 16px;
    --line-height: 1.5;
    /* Font weight for bold text */
    --font-weight-bold: 700;
    /* Font weight for regular text */
    --font-weight-normal: 400;
    --font-family: "JetBrains Mono";
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

.itemsManager > form {
  margin-inline: 1ch;

  button {
    margin-left: 1ch;
  }
  input {
    width: calc(100% - 4ch);
    max-width: 40ch;
  }
}

.lists {
  margin-inline: 1ch;
  margin-block: 1lh;
  > li {
    border: 2px solid var(--background3);
    padding: 1ch;
    height: fit-content;
  }
}

.list > header {
  font-weight: 700;
}

.listName {
  word-break: break-word;
}

.prog-1 {
  .itemControls .progDisplay {
    background-color: var(--background0);
    color: var(--gb-purple);
  }
  .itemName {
    background-color: var(--gb-purple);
    color: var(--background0);
  }
}

.prog-2 {
  .itemControls .progDisplay {
    background-color: var(--background0);
    color: var(--gb-red);
  }
  .itemName {
    background-color: var(--gb-red);
    color: var(--background0);
  }
}

.prog-3 {
  .itemControls .progDisplay {
    background-color: var(--background0);
    color: var(--gb-orange);
  }
  .itemName {
    background-color: var(--gb-orange);
    color: var(--background0);
  }
}

.prog-4 {
  .itemControls .progDisplay {
    background-color: var(--background0);
    color: var(--gb-yellow);
  }
  .itemName {
    background-color: var(--gb-yellow);
    color: var(--background0);
  }
}

.prog-5 {
  .itemControls .progDisplay {
    background-color: var(--background0);
    color: var(--gb-aqua);
  }
  .itemName {
    background-color: var(--gb-aqua);
    color: var(--background0);
  }
}

.prog-6 {
  .itemControls .progDisplay {
    background-color: var(--background0);
    color: var(--gb-green);
  }
  .itemName {
    background-color: var(--gb-green);
    color: var(--background0);
  }
}

.item {
  margin-bottom: 0.2lh;
}

.itemControls {
  span {
    float: right;
  }
}

.itemName {
  word-wrap: break-word;
  padding-inline: 1ch;
}

.separator {
  background-image: var(--background3);
  background-color: var(--background3);
  color: var(--background3);
  margin-block: 0.2lh;
  height: 2px;
  border: none;
  clear: right;
}

.list form {
  input {
    width: calc(100% - 8ch);
  }

  input ~ span {
    float: right;
  }
}

.roulette {
  margin-inline: 1ch;
  margin-block: 1lh;
}
.roulettePull {
  border: 2px solid var(--background3);
  min-height: 2lh;
  padding-inline: 1ch;
  word-wrap: break-word;
}

button:disabled {
  color: var(--foreground2);
}

li::before {
  content: "";
}
