@import "tailwindcss";
@layer base, utils, components;
@import "@webtui/css";
@import "@webtui/theme-nord";
@import "@webtui/theme-gruvbox";

@layer base {
  :root {
    --font-size: 18px;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* border: 1px white solid; */
}

li::before {
  content: "";
}

/* .prog-0 no set status */
/* queued */
.prog-1 {
  background-color: var(--nord15);
  color: var(--background0);
}

/* priority */
.prog-2 {
  background-color: var(--nord11);
  color: var(--background0);
}

/* working */
.prog-3 {
  background-color: var(--nord12);
  color: var(--background0);
}

/* submitted */
.prog-4 {
  background-color: var(--nord13);
  color: var(--background0);
}

/* approved */
.prog-5 {
  background-color: var(--nord14);
  color: var(--background0);
}

/* done */
.prog-6 {
  background-color: var(--nord7);
  color: var(--background0);
}

/* temporary */
button {
  margin-right: 5px;
}

.test {
  border: 1px gray solid;
  > li {
    border: 2px orangered dotted;
  }
}
