@import "tailwindcss";
/* @layer base, utils, components; */
/* @import "@webtui/css"; */
@import "@webtui/theme-gruvbox";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.itemsManager > form {
  margin-inline: 1ch;

  button {
    margin-right: 1ch;
  }
  input {
    min-width: 40ch;
  }
}

.lists {
  margin-inline: 1ch;
  margin-block: 1lh;
  /* border: 1px gray solid; */
  > li {
    /* border: 2px gray dotted; */
    border: 2px solid var(--background3);
    padding: 1ch;
  }

  button {
    margin-right: 1ch;
  }
}

.list > header {
  font-weight: 700;
}

.listName {
  word-break: break-word;
}

.item {
  margin-bottom: 0.2lh;
}

.prog-1 {
  .itemControls .progDisplay {
    background-color: var(--background0);
    color: var(--gb-purple);
  }
  .itemName {
    background-color: var(--gb-purple);
    color: var(--background0);
  }
}

.prog-2 {
  .itemControls .progDisplay {
    background-color: var(--background0);
    color: var(--gb-red);
  }
  .itemName {
    background-color: var(--gb-red);
    color: var(--background0);
  }
}

.prog-3 {
  .itemControls .progDisplay {
    background-color: var(--background0);
    color: var(--gb-orange);
  }
  .itemName {
    background-color: var(--gb-orange);
    color: var(--background0);
  }
}

.prog-4 {
  .itemControls .progDisplay {
    background-color: var(--background0);
    color: var(--gb-yellow);
  }
  .itemName {
    background-color: var(--gb-yellow);
    color: var(--background0);
  }
}

.prog-5 {
  .itemControls .progDisplay {
    background-color: var(--background0);
    color: var(--gb-aqua);
  }
  .itemName {
    background-color: var(--gb-aqua);
    color: var(--background0);
  }
}

.prog-6 {
  .itemControls .progDisplay {
    background-color: var(--background0);
    color: var(--gb-green);
  }
  .itemName {
    background-color: var(--gb-green);
    color: var(--background0);
  }
}

.itemControls {
  span {
    float: right;
  }
}

.itemName {
  word-wrap: break-word;
  padding-inline: 1ch;
}

.separator {
  background-image: var(--background3);
  background-color: var(--background3);
  color: var(--background3);
  margin-block: 0.2lh;
  height: 2px;
  border: none;
  clear: right;
}

.roulette {
  margin-inline: 1ch;
  margin-block: 1lh;
}
.roulettePull {
  border: 2px solid var(--background3);
  min-height: 2lh;
  padding-inline: 1ch;
  word-wrap: break-word;
}
