@import "tailwindcss";
/* @layer base, utils, components; */
/* @import "@webtui/css"; */
@import "@webtui/theme-gruvbox";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* li::before {
  content: none;
} */

/* .prog-0 no set status */
/* queued */
.prog-1 {
  background-color: var(--gb-purple);
  color: var(--background0);
}

/* priority */
.prog-2 {
  background-color: var(--gb-red);
  color: var(--background0);
}

/* working */
.prog-3 {
  background-color: var(--gb-orange);
  color: var(--background0);
}

/* submitted */
.prog-4 {
  background-color: var(--gb-yellow);
  color: var(--background0);
}

/* approved */
.prog-5 {
  background-color: var(--gb-aqua);
  color: var(--background0);
}

/* done */
.prog-6 {
  background-color: var(--gb-green);
  color: var(--background0);
}

.area {
  margin-inline: 1ch;
  margin-block: 1lh;
  /* border: 1px gray solid; */
  > li {
    /* border: 2px gray dotted; */
    border: 2px solid var(--background3);
    padding: 1ch;
  }

  button {
    margin-right: 1ch;
  }
}

.listHeader {
  font-weight: 700;
  word-break: break-all;
}

.itemName {
  word-wrap: break-word;
  padding-inline: 1ch;
}
.itemBody {
  /* border: 1px red solid; */
  margin-bottom: 0.2lh;
}

.separator {
  background-image: var(--background3);
  background-color: var(--background3);
  color: var(--background3);
  margin-block: 0.2lh;
  height: 2px;
  border: none;
}

.roulette {
  margin-inline: 1ch;
  margin-block: 1lh;
}
.roulettePull {
  border: 2px solid var(--background3);
  min-height: 2lh;
  padding-inline: 1ch;
  word-wrap: break-word;
}

.addList {
  margin-inline: 1ch;

  button {
    margin-right: 1ch;
  }
  input {
    min-width: 40ch;
  }
}
