/* Tailwind doesn't have break-word */
/* TODO: maybe create a bw utility class and move to index? */
.name {
  word-break: break-word;
}
/* TODO: combine with List? */
/* Override webtui css of buttons. High contrast of standard is usually good, but we can't do it here because of extreme density of those buttons on screen*/
.controls {
  color: var(--foreground0);
  /* important because of dnd */
  background-color: transparent;
}
.controls:active {
  color: var(--background0);
  background-color: var(--foreground0);
}
.controls:hover:not(:active) {
  font-weight: bold;
}

/* Give stage color to item controls */
.progress1 {
  color: var(--color0);
}
.progress2 {
  color: var(--color1);
}
.progress3 {
  color: var(--color2);
}
.progress4 {
  color: var(--color3);
}
.progress5 {
  color: var(--color4);
}
.progress6 {
  color: var(--color5);
}
.progress7 {
  color: var(--color6);
}

/* Give stage color to item content */
.name.progress1 {
  background-color: var(--color0);
  color: var(--background0);
}
.name.progress2 {
  background-color: var(--color1);
  color: var(--background0);
}
.name.progress3 {
  background-color: var(--color2);
  color: var(--background0);
}
.name.progress4 {
  background-color: var(--color3);
  color: var(--background0);
}
.name.progress5 {
  background-color: var(--color4);
  color: var(--background0);
}
.name.progress6 {
  background-color: var(--color5);
  color: var(--background0);
}
.name.progress7 {
  background-color: var(--color6);
  color: var(--background0);
}

/* Hovering over the item highlights it very slightly */
.hoveritem:hover {
  filter: brightness(105%);
}
