.name {
  word-wrap: break-word;
}
.controls {
  color: var(--foreground0);
  background-color: transparent;
}
.controls:active {
  color: var(--background0);
  background-color: var(--foreground0);
}

.progress1 {
  color: var(--color0);
}
.progress2 {
  color: var(--color1);
}
.progress3 {
  color: var(--color2);
}
.progress4 {
  color: var(--color3);
}
.progress5 {
  color: var(--color4);
}
.progress6 {
  color: var(--color5);
}
.name.progress1 {
  background-color: var(--color0);
  color: var(--background0);
}
.name.progress2 {
  background-color: var(--color1);
  color: var(--background0);
}
.name.progress3 {
  background-color: var(--color2);
  color: var(--background0);
}
.name.progress4 {
  background-color: var(--color3);
  color: var(--background0);
}
.name.progress5 {
  background-color: var(--color4);
  color: var(--background0);
}
.name.progress6 {
  background-color: var(--color5);
  color: var(--background0);
}
