.name {
  word-break: break-word;
  font-weight: 700;
}
.controls {
  color: var(--foreground0);
  background-color: var(--background0);
}
.controls:active {
  color: var(--background0);
  background-color: var(--foreground0);
}
.controls:hover:not(:active) {
  font-weight: bold;
}
.collapsed {
  color: var(--background3);
}

.separator {
  background-image: var(--background2);
  background-color: var(--background2);
  color: var(--background2);
  margin-block: 0.2lh;
  height: 2px;
  border: none;
  clear: right;
}
.separator.collapsed {
  background-image: var(--background1);
  background-color: var(--background1);
  color: var(--background1);
}
.progress1 {
  background-color: var(--color0);
  color: var(--background0);
}
.progress2 {
  background-color: var(--color1);
  color: var(--background0);
}
.progress3 {
  background-color: var(--color2);
  color: var(--background0);
}
.progress4 {
  background-color: var(--color3);
  color: var(--background0);
}
.progress5 {
  background-color: var(--color4);
  color: var(--background0);
}
.progress6 {
  background-color: var(--color5);
  color: var(--background0);
}
.progress7 {
  background-color: var(--color6);
  color: var(--background0);
}
.disabled {
  background-color: var(--background1);
}
