.name {
  word-break: break-word;
  font-weight: 700;
}
.controls {
  color: var(--foreground0);
  background-color: var(--background0);
}
.controls:active {
  color: var(--background0);
  background-color: var(--foreground0);
}
.collapsed {
  color: var(--background3);
}
.list {
  border: 2px solid var(--background2);
  padding: 1ch;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.list.collapsed {
  border: 2px solid var(--background1);
}
.separator {
  background-image: var(--background2);
  background-color: var(--background2);
  color: var(--background2);
  margin-block: 0.2lh;
  height: 2px;
  border: none;
  clear: right;
}
.separator.collapsed {
  background-image: var(--background1);
  background-color: var(--background1);
  color: var(--background1);
}
.progress1 {
  background-color: var(--gb-purple);
  color: var(--background0);
}
.progress2 {
  background-color: var(--gb-red);
  color: var(--background0);
}
.progress3 {
  background-color: var(--gb-orange);
  color: var(--background0);
}
.progress4 {
  background-color: var(--gb-yellow);
  color: var(--background0);
}
.progress5 {
  background-color: var(--gb-aqua);
  color: var(--background0);
}
.progress6 {
  background-color: var(--gb-green);
  color: var(--background0);
}
.dialog {
  background-color: var(--background1);
}
.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
.dialogContent {
  display: flex;
  flex-direction: column;
  gap: 1ch;
  padding-inline: 2ch;
  word-break: break-word;
}
.dialogButtons {
  display: flex;
  gap: 1ch;
  justify-content: flex-end;
}
.badge {
  margin: 0 1ch;
  padding: 0 1ch;
  background-color: var(--background1);
  margin-right: 4ch;
}

.settingsRangeForm {
  margin-block: 1ch;
  display: flex;
  flex-direction: column;
}

.add {
  margin-top: 1ch;
}

/* 
.over {
  margin-bottom: 5ch;
} */
