/* Override webtui css of buttons. High contrast of standard is usually good, but we can't do it here because of extreme density of those buttons on screen*/
.controls {
  color: var(--foreground0);
  background-color: transparent;
}
.controls:active {
  color: var(--background0);
  background-color: var(--foreground0);
}
.controls:hover:not(:active) {
  font-weight: bold;
}

/* Separator under list header */
.separator {
  background-image: var(--background2);
  background-color: var(--background2);
  color: var(--background2);
  margin-block: 0.2lh;
  height: 2px;
  border: none;
  clear: right;
}

/* Styles for muted colors of collapsed list */
.collapsed {
  color: var(--background3);
}
.separator.collapsed {
  background-image: var(--background1);
  background-color: var(--background1);
  color: var(--background1);
}
