li::before {
  content: '';
}

.manager {
  padding-inline: 1ch;
  padding-block: 1lh;
  display: flex;
  flex-direction: column;
  row-gap: 1lh;
}

.gradient {
  background: -webkit-linear-gradient(
    left,
    var(--gb-purple),
    var(--gb-red),
    var(--gb-orange),
    var(--gb-yellow),
    var(--gb-aqua),
    var(--gb-green)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

input[type='checkbox']:not([is-='switch'])::before {
  background: var(--background0);
}
