li::before {
  content: '';
}

.manager {
  padding-inline: 1ch;
  padding-block: 1lh;
  display: flex;
  flex-direction: column;
  row-gap: 1lh;
}

.gradient {
  background: -webkit-linear-gradient(
    left,
    var(--color0),
    var(--color1),
    var(--color2),
    var(--color3),
    var(--color4),
    var(--color5)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

input[type='checkbox']:not([is-='switch'])::before {
  background: var(--background0);
}
