/* Referenced from webtui plugins source code:
https://github.com/webtui/webtui/blob/master/packages/theme-nord/src/base.css
https://github.com/webtui/webtui/blob/master/packages/theme-nord/src/components/typography.css */

/* VARIATIONS ON CANONICAL WEBTUI THEMES */
/* catpuccin-pink */
@layer base {
  [data-webtui-theme|="catppuccin-pink"] {
    /* Accent Colors */
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;

    /* Note: I actually have no idea what those vars do, I've never seen them used, and other themes' code doesn't have them, it's just catpuccin. I copied it just in case. Don't use elsewhere unless it turns out to be important */
    /* Background / Foreground Colors */
    --text: #cdd6f4;
    --subtext1: #bac2de;
    --subtext0: #a6adc8;
    --overlay2: #9399b2;
    --overlay1: #7f849c;
    --overlay0: #6c7086;
    --surface2: #585b70;
    --surface1: #45475a;
    --surface0: #313244;
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;

    --color0: var(--rosewater);
    --color1: var(--flamingo);
    --color2: var(--pink);
    --color3: var(--mauve);
    --color4: var(--red);
    --color5: var(--maroon);
    --color6: var(--lavender);
  }
}

/* Overrides */
@layer components {
  [data-webtui-theme|="catppuccin-pink"] {
    h1 {
      color: var(--color0);
    }

    h2 {
      color: var(--color1);
    }

    h3 {
      color: var(--color2);
    }

    h4 {
      color: var(--color3);
    }

    h5 {
      color: var(--color4);
    }

    h6 {
      color: var(--color5);
    }
  }
}

/* colder-nord */
@layer base {
  [data-webtui-theme="colder-nord"] {
    /* Polar Night */
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;

    /* Snow Storm */
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;

    /* Frost */
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;

    /* Aurora */
    --nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;

    --background0: var(--nord0);
    --background1: var(--nord1);
    --background2: var(--nord2);
    --background3: var(--nord3);

    --foreground0: var(--nord6);
    --foreground1: var(--nord5);
    --foreground2: var(--nord4);

    --color0: var(--nord10);
    --color1: var(--nord15);
    --color2: var(--nord11);
    --color3: var(--nord7);
    --color4: var(--nord14);
    --color5: var(--nord8);
    --color6: var(--nord9);
  }
}

/* Overrides */
@layer components {
  [data-webtui-theme="colder-nord"] {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--nord14);
    }
  }
}

/* ORIGINAL THEMES */
/* SOLARIZED */
/* https://www.zovirl.com/2011/07/22/solarized_cheat_sheet/ */
/* Note: solarized dark and light use the same values */

/* solarized-dark */
@layer base {
  [data-webtui-theme="solarized-dark"] {
    /* Dark */
    /* Base03 > Base02 > Base01 > Base00 */
    --Base03: #002b36;
    --Base02: #073642;
    --Base01: #586e75;
    --Base00: #657b83;

    /* Light */
    /* Base2 > Base1 > Base0 */
    /* I skipped Base3 (#fdf6e3) and started with Base2; this warm cream tone is bright enough and easier on the eyes, and adds retro feel */
    --Base2: #eee8d5;
    --Base1: #93a1a1;
    --Base0: #839496;

    --background0: var(--Base03);
    --background1: var(--Base02);
    --background2: var(--Base01);
    --background3: var(--Base00);

    --foreground0: var(--Base2);
    --foreground1: var(--Base1);
    --foreground2: var(--Base0);

    /* Accent Colors */
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;

    --color0: var(--violet);
    --color1: var(--magenta);
    --color2: var(--red);
    --color3: var(--orange);
    --color4: var(--yellow);
    --color5: var(--green);
    --color6: var(--cyan);
  }
}

/* Overrides */
@layer components {
  [data-webtui-theme="solarized-dark"] {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--blue);
    }
  }
}

/* solarized-light */
@layer base {
  [data-webtui-theme="solarized-light"] {
    /* Light */
    /* Base3 > Base2 > Base1 > Base0 */
    --Base3: #fdf6e3;
    --Base2: #eee8d5;
    --Base1: #93a1a1;
    --Base0: #839496;

    /* Dark */
    /* Base02 > Base01 > Base00 */
    --Base02: #073642;
    --Base01: #586e75;
    --Base00: #657b83;

    --background0: var(--Base3);
    --background1: var(--Base2);
    --background2: var(--Base1);
    --background3: var(--Base0);

    --foreground0: var(--Base02);
    --foreground1: var(--Base01);
    --foreground2: var(--Base00);

    /* Accent Colors */
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;

    --color0: var(--violet);
    --color1: var(--magenta);
    --color2: var(--red);
    --color3: var(--orange);
    --color4: var(--yellow);
    --color5: var(--green);
    --color6: var(--cyan);
  }
}

/* Overrides */
@layer components {
  [data-webtui-theme="solarized-light"] {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--blue);
    }
  }
}

/* SELENIZED */
/* https://github.com/jan-warchol/selenized/blob/master/the-values.md */
/* Note: selenized dark and light use different values */

/* selenized-dark */
@layer base {
  [data-webtui-theme="selenized-dark"] {
    /* Dark: bg_0 > bg_1 > bg_2 > derived bg_3 (interpolated between bg_2 and dim_0 along the L* axis) */

    --dark-bg_0: #103c48;
    --dark-bg_1: #184956;
    --dark-bg_2: #2d5b69;
    --dark-bg_3: #3a6f7f;

    /* Light: fg_1 > fg_0 */
    --dark-fg_1: #cad8d9;
    --dark-fg_0: #adbcbc;

    /* Midtone: dim_0 */
    --dark-dim_0: #72898f;

    --background0: var(--dark-bg_0);
    --background1: var(--dark-bg_1);
    --background2: var(--dark-bg_2);
    --background3: var(--dark-bg_3);

    --foreground0: var(--dark-fg_1);
    --foreground1: var(--dark-fg_0);
    --foreground2: var(--dark-dim_0);

    /* Accent Colors */
    /* Dark accents are brighter */
    --yellow: #dbb32d;
    --orange: #ed8649;
    --red: #fa5750;
    --magenta: #f275be;
    --violet: #af88eb;
    --blue: #4695f7;
    --cyan: #41c7b9;
    --green: #75b938;

    --color0: var(--violet);
    --color1: var(--magenta);
    --color2: var(--red);
    --color3: var(--orange);
    --color4: var(--yellow);
    --color5: var(--green);
    --color6: var(--cyan);
  }
}

/* Overrides */
@layer components {
  [data-webtui-theme="selenized-dark"] {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--blue);
    }
  }
}

/* selenized-light */
@layer base {
  [data-webtui-theme="selenized-light"] {
    /* Light: bg_0 > bg_1 > bg_2 > derived bg_3 (interpolated between bg_2 and dim_0 along the L* axis) */
    --light-bg_0: #fbf3db;
    --light-bg_1: #ece3cc;
    --light-bg_2: #d5cdb6;
    --light-bg_3: #c5bfaa;

    /* Dark: fg_1 > fg_0 */
    --light-fg_1: #3a4d53;
    --light-fg_0: #53676d;

    /* Midtone: dim_0 */
    --light-dim_0: #909995;

    --background0: var(--light-bg_0);
    --background1: var(--light-bg_1);
    --background2: var(--light-bg_2);
    --background3: var(--light-bg_3);

    --foreground0: var(--light-fg_1);
    --foreground1: var(--light-fg_0);
    --foreground2: var(--light-dim_0);

    /* Accent Colors */
    /* Light accents are darker print-contrast */

    --yellow: #ad8900;
    --orange: #c25d1e;
    --red: #d2212d;
    --magenta: #ca4898;
    --violet: #8762c6;
    --blue: #0072d4;
    --cyan: #009c8f;
    --green: #489100;

    --color0: var(--violet);
    --color1: var(--magenta);
    --color2: var(--red);
    --color3: var(--orange);
    --color4: var(--yellow);
    --color5: var(--green);
    --color6: var(--cyan);
  }
}

/* Overrides */
@layer components {
  [data-webtui-theme="selenized-light"] {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--blue);
    }
  }
}
