/* Referenced from webtui plugins source code:
https://github.com/webtui/webtui/blob/master/packages/theme-nord/src/base.css
https://github.com/webtui/webtui/blob/master/packages/theme-nord/src/components/typography.css */

/* catpuccin-pink */
@layer base {
  [data-webtui-theme|="catppuccin-pink"] {
    /* Accent Colors */
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;

    /* Note: I actually have no idea what those vars do, I've never seen them used, and other themes' code doesn't have them, it's just catpuccin. I copied it just in case. Don't use elsewhere unless it turns out to be important */
    /* Background / Foreground Colors */
    --text: #cdd6f4;
    --subtext1: #bac2de;
    --subtext0: #a6adc8;
    --overlay2: #9399b2;
    --overlay1: #7f849c;
    --overlay0: #6c7086;
    --surface2: #585b70;
    --surface1: #45475a;
    --surface0: #313244;
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;

    --color0: var(--rosewater);
    --color1: var(--flamingo);
    --color2: var(--pink);
    --color3: var(--mauve);
    --color4: var(--red);
    --color5: var(--maroon);
    --color6: var(--lavender);
  }
}

/* Overrides */
@layer components {
  [data-webtui-theme|="catppuccin-pink"] {
    h1 {
      color: var(--color0);
    }

    h2 {
      color: var(--color1);
    }

    h3 {
      color: var(--color2);
    }

    h4 {
      color: var(--color3);
    }

    h5 {
      color: var(--color4);
    }

    h6 {
      color: var(--color5);
    }
  }
}

/* colder-nord */
@layer base {
  [data-webtui-theme="colder-nord"] {
    /* Polar Night */
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;

    /* Snow Storm */
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;

    /* Frost */
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;

    /* Aurora */
    --nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;

    --background0: var(--nord0);
    --background1: var(--nord1);
    --background2: var(--nord2);
    --background3: var(--nord3);

    --foreground0: var(--nord6);
    --foreground1: var(--nord5);
    --foreground2: var(--nord4);

    --color0: var(--nord10);
    --color1: var(--nord15);
    --color2: var(--nord11);
    --color3: var(--nord7);
    --color4: var(--nord14);
    --color5: var(--nord8);
    --color6: var(--nord9);
  }
}

/* Overrides */
@layer components {
  [data-webtui-theme="colder-nord"] {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--nord14);
    }
  }
}
