@layer base {
  [data-webtui-theme|='gruvbox'] {
    --color0: var(--gb-purple);
    --color1: var(--gb-red);
    --color2: var(--gb-orange);
    --color3: var(--gb-yellow);
    --color4: var(--gb-aqua);
    --color5: var(--gb-green);
  }

  [data-webtui-theme|='nord'] {
    --color0: var(--nord8);
    --color1: var(--nord9);
    --color2: var(--nord15);
    --color3: var(--nord12);
    --color4: var(--nord13);
    --color5: var(--nord14);
  }
}
