@layer base {
  [data-webtui-theme|="gruvbox"] {
    --color0: var(--gb-purple);
    --color1: var(--gb-red);
    --color2: var(--gb-orange);
    --color3: var(--gb-yellow);
    --color4: var(--gb-green);
    --color5: var(--gb-aqua);
    --color6: var(--gb-blue);
  }

  [data-webtui-theme|="nord"] {
    --color0: var(--nord11);
    --color1: var(--nord14);
    --color2: var(--nord13);
    --color3: var(--nord9);
    --color4: var(--nord10);
    --color5: var(--nord15);
    --color6: var(--nord7);
  }

  [data-webtui-theme|="catppuccin"] {
    --color0: var(--red);
    --color1: var(--peach);
    --color2: var(--yellow);
    --color3: var(--teal);
    --color4: var(--blue);
    --color5: var(--lavender);
    --color6: var(--mauve);
  }
}
