@layer base, utils, components;
@import "@webtui/css";
@import "@webtui/theme-nord";
@import "@webtui/theme-gruvbox";

@layer base {
  :root {
    --font-size: 17px;
  }
}

body {
  margin: 0;
  /* display: flex; */

  height: 100dvh;
  border: 1px red solid;
  padding: 2ch;
}

main {
  border: 1px green solid;
}

button {
  margin-inline: 0.5ch;
}

li::before {
  content: "";
}
