@layer base, utils, components;
@import "@webtui/css";
@import "@webtui/theme-nord";
@import "@webtui/theme-gruvbox";

@layer base {
  :root {
    --font-size: 17px;
  }
}

body {
  margin: 0;
  display: flex;
}

button {
  margin-inline: 0.5ch;
}
